<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
   My Dashboard
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
  
        <button mat-button class="menu-button">
            <mat-icon>library_books</mat-icon>
     
             <a [routerLink]="['/admdashboard',{outlets:{'dash':['newcourse']}}]" >Courses</a> 
        </button>
         <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <a [routerLink]="['/admdashboard',{outlets:{'dash':['admemployee']}}]">Employees</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <a [routerLink]="['/admdashboard',{outlets:{'dash':['admstudent']}}]">Students</a>
        </button> 
        <button mat-button class="menu-button">
            <mat-icon>search</mat-icon>
            <a [routerLink]="['/admdashboard',{outlets:{'dash':['searchemployee']}}]">Search Employees</a>
        </button> 
      <button mat-button class="menu-button">
            <mat-icon>search</mat-icon>
            <a [routerLink]="['/admdashboard',{outlets:{'dash':['searchstudent']}}]">Search Students</a>
        </button> 
      
        <button mat-button class="menu-button">
            <mat-icon>textsms</mat-icon>
            <!-- <a routerLink="/notification">Notifications</a> -->
            <a [routerLink]="['/admdashboard',{outlets:{'dash':['notification']}}]" [matBadge]="newpendingnotifItem.pending"  matBadgeColor="accent">Notifications</a> 
        </button>
        <mat-divider></mat-divider>
  
    </mat-sidenav>
    <mat-sidenav-content>
    <div style="margin-left:10%;">
        <br>
        <br><br>
        <br>
        <div class="mydiv" style="margin-left:30%;" *ngIf="!showtitle"><h1 >Welcome </h1></div><br>
        <div class="mydiv" style="margin-left:30%;" *ngIf="!showtitle"><span> <h1 >  to your dashboard</h1> </span></div>
        
        <router-outlet name="dash"></router-outlet>
    </div>    
 </mat-sidenav-content>
</mat-sidenav-container> 