#myButton{
    padding: 10px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 15px;
   height: 30px;
   width: 70px;
   padding-top: 2px;
   padding:5px;
  }
  tr,th,td{
      border:2px solid black;
  }
  .table{
    width:60%; 
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  .card .card-header{
      font-size: large;
  }
  mat-toolbar {
    background: #464747;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #464747;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
    mat-icon {
        margin-right: 8px;
    }


.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.content {
    padding: 16px;
    
}

.content > mat-card {
    width: 200px;
}

.card {
  margin: 8%;
}

.card-img-top{
    width: 100%;
    height: 100px;
}

button{
    width: 200px;
}
.mydiv {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .mydiv:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  .mydiv:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  .mydiv:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }